:root {
	--black: #353535;
	--red: #ED1C24;
	/*--brown: #8A897C;
	--tan: #BDBBB0;*/
	--brown: #5E4AE3;
	--tan: #07BEB8;
	--white: #FFFFFF;
}

@keyframes moving-background {
  0% 	{background-position:0 0, 10px 0, 10px -10px, 0px 10px;}
  10% 	{background-position:20px 20px, 30px 20px, 30px 10px, 20px 30px;}
  15%	{background-position:30px 30px, 40px 30px, 40px 20px, 30px 40px;}
  25%	{background-position:50px 50px, 60px 50px, 60px 40px, 50px 60px;}
  35%	{background-position:70px 30px, 80px 30px, 80px 20px, 70px 40px;}
  40%	{background-position:80px 20px, 90px 20px, 90px 10px, 80px 30px;}
  50%	{background-position:100px 0px, 110px 0px, 110px -10px, 100px 10px;}
  60%	{background-position:80px -20px, 90px -20px, 90px -30px, 80px -10px;}
  65%	{background-position:70px -30px, 80px -30px, 80px -40px, 70px -20px;}
  75%	{background-position:50px -50px, 60px -50px, 60px -60px, 50px -40px;}
  85%	{background-position:30px -30px, 40px -30px, 40px -40px, 30px -20px;}
  90%	{background-position:20px -20px, 30px -20px, 30px -30px, 20px -10px;}
  100%	{background-position:0 0, 10px 0, 10px -10px, 0px 10px;}
}

html, body {
	background-color: var(--brown);
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

div, p, button, h1, h2, h3, h4, h5, h6, h7 {
	color: var(--black);
}

h5 {
	font-size: 20px;
}

button {
	background-color: var(--brown);
	color: var(--white);
	border-radius: 15px;
	border-color: var(--black);
	border-width: 3px;
	border-style: solid;
	padding: 10px 25px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px 2px;
	transition-duration: .15s;
	font-weight: bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
	letter-spacing: 2px;
}

button:hover {
	background-color: var(--black);
	margin: 0px;
	padding: 11px 27px;
}



.header{
	margin: 0px;
	background-color: var(--tan);
	padding-bottom: 10px;
	padding-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: var(--black);
	border-width: 0 0 3px 0;
	border-style: solid;
	margin-bottom: 20px;
}

.footer{
	margin: 0px;
	background-color: var(--tan);
	padding-bottom: 10px;
	padding-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-color: var(--black);
	border-width: 3px 0 0 0;
	border-style: solid;
	margin-top: 20px;
}


.container {
	z-index: 5;
	background-image:
  linear-gradient(45deg, var(--tan) 25%, transparent 25%), 
  linear-gradient(-45deg, var(--tan) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, var(--tan) 75%),
  linear-gradient(-45deg, transparent 75%, var(--tan) 75%);
	background-size:20px 20px;    
	background-position:0 0, 10px 0, 10px -10px, 0px 10px;
	animation-name: moving-background;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.container * {
	z-index: 10;
}

.header>h1 {
	margin: 0;
}

.invalid-feedback {
	color: var(--red);
}

.main{
	max-width: 400px;
	margin: 150px auto;
	background-color: var(--tan);
	border-radius: 15px;
	border-color: var(--black);
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.justify-content-center{
	justify-content: center;
}

.align-self-center{
	align-self: center;
}